* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

html {
    font-size: 16px;
    color: #ffffffe1;
}
.upgrade {
    background-color: rgba(80, 83, 99, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
.container-upgrade {
    background-color: rgb(52, 53, 65);
    display: flex;
    flex-direction: column;
    width: 660px;
    border-radius: 10px;
    height: 80%;
}
.title-upgrade {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.title-upgrade i {
    cursor: pointer;
    padding: 10px;
}
.select {
    display: flex;
    background-color: rgb(32, 33, 35);
}
.select1 {
    width: 50%;
}
.back-se {
    background-color: rgb(32, 33, 35);
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
}
.back-se .normal {
    padding-bottom: .75rem;
    padding-top: .75rem;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(134, 134, 138);
    cursor: not-allowed;
    opacity: .5;
    color: rgb(87, 87, 97);
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.describe {
    display: flex;
    margin-top: 12px;
}

.small {
    font-size: 13px;
    margin-top: 20px;
}
.plus {
    padding-bottom: .75rem;
    padding-top: .75rem;
    font-weight: 600;
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(16, 163, 127);
    cursor: pointer;
    color: white;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.plus:hover {
    opacity: 0.8;
}
.bottom-susggest {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}